.letter {
  width: 3.37rem;
  height: 3.37rem;
  border-radius: 0.62rem;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-small {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.43rem;
  font-size: 1.25rem;
  font-weight: 500;
  border: 1px solid var(--color-primary);
}

.letter-correct {
  background-color: var(--color-success-light);
  border-color: var(--color-success);
  color: var(--color-success);
}

.letter-wrong {
  background-color: var(--color-warning);
  border-color: var(--color-warning-dark);
  color: var(--color-warning-dark);
}

.letter-hidden {
  background-color: var(--bg-body);
  border: 2px dashed var(--color-border);
  color: var(--color-text-muted);
}
